.md_process_i2 .md_process_tip{
	color:#f46;
}
.md_process_i2{
	
}

#body_wrap .md_process_step1_5 .md_process_sd {
    width: 243px;
}

.g-wrap{
	width:1200px;
	margin:0 auto;
}
.cart_wrap{
	background:#fff;
}
.cart_page_wrap{
	padding:20px 26px;
}
.pt0{
	padding-top:0!important;
}
.cart_stit{
	height:46px;
	font:700 14px/46px helvetica;
}
.cart_address_wrap{
	overflow: hidden;
}
.cart_address_list{
	position: relative;
	overflow: hidden;
}
.cart_address_ctrl{
	padding:12px 0;
}
.cart_address_ctrl li{
	float:left;
	margin-right:20px;
}
.cart_address_ctrl a{
	padding-left:12px;
	background:url(../img/indent_pic.png) no-repeat -344px -36px;
}
.address_pop {
    position: relative;
    padding: 20px 20px 20px 0;
    line-height: 38px;
}
.address_pop dt {
    position: absolute;
    left: 0;
    width: 90px;
    color: #666;
    text-align: right;
}
.address_pop dd {
    position: relative;
    padding-left: 106px;
}
.address_pop .vm {
    vertical-align: middle;
}
.address_pop .w140 {
    width: 140px;
}
select {
    background: -webkit-linear-gradient(top,#fff,#eaeaea);
}
.address_pop .notice {
    padding-left: 8px;
    color: #fa817e;
}
.prompt {
    padding-left: 8px;
    color: #999;
}
.address_pop input.error, .address_pop input.error:focus, .address_pop textarea.error, .address_pop textarea.error:focus {
    border: 1px solid #fa817e;
}
.needicon {
    position: absolute;
    top: 14px;
    left: 90px;
    color: #ff5a00;
    font-size: 14px;
    line-height: 14px;
    font-style: normal;
}
.textarea{
	margin-top: 5px;
    margin-bottom: 5px;
    padding: 6px 8px;
    line-height: 16px;
    color: #666;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
    vertical-align: top;
}
.form_size_large{
	width:90%;
}
.error{
	border:1px solid #fa817e;
}
.confirm_btn,.cancel_btn{
	display: inline-block;;
	height:34px;
	font:0/0 a;
	overflow: hidden;
}
.confirm_btn{
	width:104px;
	background: url(../img/indent_pic.png) -200px -217px no-repeat;
}
.cancel_btn{
	width:68px;
	background: url(../img/indent_pic.png) -200px -251px no-repeat;
}
.table{
	width:100%;
}
.table thead tr{
	height:50px;
	border-top:1px solid #eee;
	width:100%;
}
.cart_goods{
	width:523px;
	text-align: center;
}
.goods_info{
	width:170px;
	text-align: left;
}
.goods_fav{
	width:220px;
	text-align: center;
}
.goods_mount{
	width:100px;
	text-align: center;
}
.table tbody tr{
	border-top:1px solid #eee;
	height:25px;
	
}
.sp_name{
	color:#999999;
}

.shop_call{
	display: inline-block;
	width:24px;
	height:24px;
	background:url(../img/call.gif) no-repeat;
	vertical-align: bottom;
}
.table tbody .cart_store{
	height:114px;
	width:100%;
	border-top:1px solid #eee;
	background:#f7f7f7;
}
.cart_wear{
	vertical-align: middle;
	display: inline-block;
	border:1px solid #f6fcf8;
}
.table tbody .cart_other{
	height:70px;
	
}
.input_txt{
	width:337px;
	height:25px;
	border:1px solid #c7c7c7;
	border-radius: 3px;
}
.table tbody .cart_total{
	height:58px;
}
.total{
	color:#989898;
	
	font-size: 14px;
}
.cart_sum{
	color:#fd507e;
	font-weight: 700;
	margin-right:20px;
}
.cart_paybar .cart_surebtn{
	display: inline-block;
	width:173px;
	height:52px;
	background:#fea700;
	color:#fff;
	font-size:18px;
}
.cart_red{
	color:#ff4c7b;
}
.cart_back {
    padding-left: 16px;
    margin-left: 20px;
    background: url(../img/indent_pic.png) -340px -3px no-repeat;
}
.cart_address_ctrl a:hover{
	text-decoration: underline;
}
.cart_address_list .cart_address_card.selected, .cart_address_list .cart_address_card.selected:hover {
    background: url(../img/new_address.png) 0 0 no-repeat;
}
.cart_address_list .cart_address_card {
    display: block;
    position: relative;
    padding: 10px 20px 15px;
    width: 200px;
    height: 135px;
    background: url(../img/new_address.png) -240px 0 no-repeat;
    cursor: pointer;
}
.cart_address_tit {
    width: 135px;
    /*padding-bottom: 12px;*/
    font: 700 14px/26px helvetica,tahoma,arial,sans-serif;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
}
.cart_address_list .cart_address_card p {
    color: #666;
}
.cart_address_edit {
    display: none;
    position: absolute;
    bottom: 14px;
    left: 180px;
    font-size: 14px;
    color: #666;
    font-style: normal;
    text-decoration: underline;
    white-space: nowrap;
}

#cartAddressList li{
	float: left;
}
.cart_address_list li {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}
.cart_address_list .cart_address_card.selected, .cart_address_list .cart_address_card.selected:hover {
    background: url(../img/new_address.png) 0 0 no-repeat;
}
.cart_address_list .cart_address_card:hover {
    background: url(../img/new_address.png) -480px 0 no-repeat;
}
.cart_wear img{
	width:100px;
	height:100px;
}
